.jumbotron{
	background-image: linear-gradient(45deg, #6a1b9a, #f9a825);
}

.text-center{
	color: #e8f5e9 !important;
}

body{
	background-image: url(../images/stardust_@2X.png);
}

#chart1 {
	background-color: white;
}

.panel-title {
	text-align: center;
}

.row{
	margin-bottom: 0;
}

.col-md-3,
.col-sm-6,
.col-xs-12,
.btn,
.btn-deep-purple{
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

#userURL{
	margin-top: 2%;
}

#urlInput{
	color: white;
}

#myChart{
	background-color: white;
	margin-bottom: 2%;
}


#warning{
color: white;
padding-top: 1.5%;
}

#warnbox{
background-color: white;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }