.jumbotron{
	background-image: linear-gradient(45deg, #6a1b9a, #f9a825);
}

.text-center{
	color: #e8f5e9 !important;
}

body{
	background-image: url(../images/stardust_@2X.png);
}

#chart1 {
	background-color: white;
}

.panel-title {
	text-align: center;
}

.row{
	width: 100%;
}

.col-md-3,
.col-sm-6,
.col-xs-12,
.btn,
.btn-deep-purple{
	margin-right: 0;
	margin-left: 0;
}

/*custom, iPhone Retina*/
/*@media only screen and (min-width: 320px){
	.btn-group{
		font-size: 12px;
	}
}*/

/*XS devices, phones*/
/*@media only screen and (min-width: 480px){
	.btn-group{
		font-size: 14px;
	}
}*/

/*small devices, tablets*/
/*@media only screen and (min-width: 768px){
	.btn-group{
		font-size: 16px;
	}
}*/

/*medium devices, desktops*/
/*@media only screen and (min-width: 992px){
	.btn-group{
		font-size: 18px;
	}
}*/